.about {
        @include flexbox(column);
        width: 100vw;
        padding: 2.5vh 12vw 25vh 12vw;
        gap: 2.5vh;
        box-sizing: border-box;
        height: auto;
        overflow-x: hidden;
        transform: translateY(20vh);
        border-radius: 50px;
        backdrop-filter: blur(6px);

        &__block {
                @include flexbox(column);
                align-items: flex-start;
                @include full-parent;
                padding: 5vh 0;
                gap: 2rem;
                padding: 3rem;
                z-index: 3;
                overflow: hidden;

                &--right {
                        align-items: flex-end;

                        h3,
                        p {
                                text-align: right !important;

                        }
                }

                &--center {
                        align-items: center;

                        h3, p {
                                text-align: center !important;
                        }
                }
        }

        &__heading,
        &__subheading {
                @include wadik-text(left);
                width: 65%;
                text-shadow: $text-shadow;

                .selection-mimic {
                        background-color: #02101f6c;
                        padding: 0.292rem 0.21em;
                }
        }

        &__text {
                @include roboto-text(left);
                width: 50%;
                color: $contrast-font-color;

        }

        &__link {}
}


.hero {
        &__image {
                height: 100%;
                position: absolute;
                right: 0%;
                z-index: -2;
        }
}