@use "sass:map";

main {
        background-color: $primary-color;
        z-index: 10;
}

.about {
        @include flexbox(row);
        width: 100vw;
        height: 100vh;
        padding: 0 12vw;
        gap: 3rem;
        box-sizing: border-box;
        overflow-x: hidden;

        &--company, &--trust {
                @media (max-width: map.get($breakpoints, phone)) {
                        padding: 20vh 2rem;
                        height: auto;
                        flex-direction: column-reverse;

                        .button-wrapper {
                                width: 100%;
                                justify-content: center;
                        }
                }
        }

        &--approach {
                padding: 10vh 12vw;
                height: unset;
                flex-direction: column;
        }

        &--trust {
                @media (max-width: map.get($breakpoints, phone)) {
                        flex-direction: column; 
                }
        }

        &__content {
                @include flexbox(column);
                align-items: flex-start;
                @include full-parent;
                padding: 0;
                gap: 2rem;
                z-index: 3;

                &--company {
                        align-items: flex-end;

                        @media (max-width: map.get($breakpoints, phone)) {
                                gap: 3rem;
                        }
                }

                &--approach {
                        align-items: center;
                        height: auto;

                        h3,
                        p {
                                text-align: center !important;
                                width: 100%;
                        }
                }


        }

        &__heading,
        &__subheading {
                @include wadik-text(left);
                width: 100%;
                text-shadow: $text-shadow;

                .selection-mimic {
                        background-color: #02101f6c;
                        padding: 0.292rem 0.21em;
                }

                @media (max-width: map.get($breakpoints, small-desktop)) {
                        width: 100%;
                        font-size: calc(1.61 * (1vh + 1vw));
                }

                @media (max-width: map.get($breakpoints, phone)) {
                        text-align: center;
                        font-size: calc(2 * (1vh + 1vw));
                }
        }

        &__text {
                @include roboto-text(left);
                width: 100%;
                max-width: 1000px;
                color: $contrast-font-color;

                @media (max-width: map.get($breakpoints, phone)) {
                        text-align: center;
                        font-size: calc(1.5 * (1vh + 1vw));
                }

        }

        &__image {
                height: calc(100% - 4rem);
                position: absolute;
                right: 0;
                z-index: -2;

                @media (max-width: map.get($breakpoints, small-desktop)) {
                        display: none;
                }
        }

        &__button {
                @media (max-width: map.get($breakpoints, small-desktop)) {
                        font-size: 1.15rem;
                }
        }
}


.scroller-overlay__title {
        color: $contrast-font-color !important;
}

.scroller-overlay__item span {
        color: $contrast-font-color !important;
}