@use "sass:map";

.about {
        @include flexbox(column);
        width: 100vw; 
        padding: 0 12vw 40vh 12vw;
        gap: 2.5vh;
        box-sizing: border-box;
        height: auto;
        overflow-x: hidden;
        transform: translateY(9vh);
        border-radius: 50px;
        backdrop-filter: blur(6px);

        &__block {
                @include flexbox(column);
                align-items: flex-start;
                @include full-parent;
                padding: 0;
                gap: 2rem;
                padding: 3rem;
                z-index: 3;
                overflow: hidden;

                &--right {
                        align-items: flex-end;

                        h3,
                        p {
                                text-align: right !important;
                                width: 100%;
                        }
                }

                &--center {
                        align-items: center;

                        h3, p {
                                width: 100%;
                                text-align: center !important;
                        }
                }
        }

        &__heading,
        &__subheading {
                @include wadik-text(left);
                width: 65%;
                text-shadow: $text-shadow;

                .selection-mimic {
                        background-color: #02101f6c;
                        padding: 0.292rem 0.21em;
                }
        }

        &__text {
                @include roboto-text(left);
                width: 50%;
                color: $contrast-font-color;

        }
}


.hero {
        &__image {
                height: calc(100% - 4rem);
                position: absolute;
                right: 0%;
                z-index: -2;
        }
}

.scroller-overlay__title {
        color: $contrast-font-color !important;
}

.scroller-overlay__item span {
        color: $contrast-font-color !important;
}