---
import Layout from "../../layouts/Layout.astro";
import AnimatedBackground from "@/components/wave_background/Background";
import Scroller from "@/components/scroller/Scroller";
import HeroImage from "@/assets/about-images/hero.png";
import Advantages from "@/components/about-components/Advantages.astro";
import "../about/_index.scss";
import MainButton from "@/components/main_button/MainButton";
---

<Layout>
  <AnimatedBackground client:load />

  <section class="about">
    <Advantages />

    <section class="about__content about__content--company">
      <h2 class="about__heading">
        <span class="selection-mimic">ООО «МЕТАЛЛ-ТРЕЙДИНГ»</span><br />
        <span>- ЭКСПЕРТ В</span><br />
        <span>ОБРАЩЕНИИ С ОТХОДАМИ</span>
      </h2>

      <p class="about__text">
        Наша компания — надёжный партнёр в сфере экологических решений,
        работающий в Мурманске и за его пределами. Мы специализируемся на полном
        цикле обращения с отходами: от сбора до утилизации и размещения. За годы
        работы мы зарекомендовали себя как устойчивый и высокопрофессиональный
        участник отрасли.
      </p>

      <div class="button-wrapper"> 
        <MainButton
          client:load
          text="Далее"
          href="/about/approach"
          style="contained"
        />
        <MainButton
          client:load
          text="Связаться с нами"
          href="/contacts"
        />
      </div>
    </section>
  </section>

  <Scroller
    pages={[
      {
        title: "Экологический подход",
        href: "/about/approach",
        image: "/images/main-page-og.png",
      },
      {
        title: "Нам доверяют",
        href: "/about/trust",
        image: "/images/main-page-og.png",
      },
      {
        title: "Связаться с нами",
        href: "/contacts",
        image: "/images/main-page-og.png",
      },
    ]}
    client:load
  />
</Layout>
