---
import Layout from "../../layouts/Layout.astro";
import AnimatedBackground from "@/components/wave_background/Background";
import Scroller from "@/components/scroller/Scroller";
import Clients from "@/components/about-components/Clients.astro";
import "../about/_index.scss";
import MainButton from "@/components/main_button/MainButton";
import AnimationWrapper from "./_animation";
---

<Layout>
  <AnimatedBackground client:load />

  <section class="about about--trust">
    <section class="about__content about__content--right">
      <h3 class="about__subheading">Нам доверяют</h3>
      <p class="about__text">
        Среди наших партнёров — крупнейшие предприятия региона: Федеральная таможенная служба, Мурманская ТЭЦ, Мурманский морской торговый порт, корпорация «Р-Индустрия». Нас выбирают за комплексный подход, прозрачность процессов и гарантии. Мы предоставляем полное сопровождение, индивидуальные решения и доказуемый результат.
      </p>

      <div class="button-wrapper"> 
        <MainButton
          client:load
          text="Далее"
          href="/about/approach"
        />
        <MainButton
          client:load
          text="Контакты"
          href="/contacts"
          style="contained"
        />
      </div>
    </section>

    <Clients />
  </section>

  <Scroller
    pages={[
      { title: "Поиск наименований", href: "/search", image: "/images/main-page-og.png" },
      { title: "Главная | В начало", href: "/", image: "/images/main-page-og.png" },
      { title: "Связаться с нами", href: "/contacts", image: "/images/main-page-og.png" }
    ]}
    client:load
  />

  <AnimationWrapper client:only/>
</Layout>
