.filtered-data {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.filtered-list {
    position: relative;
}

.input-up {
    position: absolute;
    top: -6%;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%) rotateX(180deg);

    path {
        transition: .3s;
    }

    &:hover {
        path {
            transform: scale(1.09);
            fill: #eee;
        }
    }
}