.filtered-data {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.filtered-list {
    position: relative;
}

// Для expanded
//     /* height: 280px; */
//     display: grid
// ;
//     grid-template-columns: repeat(4, auto);
//     padding-bottom: 2rem;
//     gap: 3rem;
//     align-items: center;
//     justify-items: center;
//     text-align: center;
//     list-style: none;
//     /* overflow-y: scroll;