html.is-changing .transition-fade {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(250px);
}

html {
  background-color: black;
}