---
import Scroller from '../../components/scroller/Scroller';
import Background from '../../components/wave_background/Background';
import Layout from '../../layouts/Layout.astro';
import AnimationWrapper from '../_animation';
import Socials from '../../components/socials/Socials.astro';
import SocialLink from '../../assets/icons/SocialLink.astro';

//Стили
import './_index.scss';
import CallbackForm from '../../components/callback-form/CallbackForm';
---

<Layout>
  <Socials />
  <Background client:load />
  <section class="contacts-layout C-layout">
    <div class="contacts-container">
      <div class="contacts">
        <div class="contacts__info-side">
          <h2 class="contacts__title">Связаться с нами и получить коммерческое предложение</h2>

          <div class="contacts__contact-info">
            <p class="contacts__text C-text">Любым удобным способом:</p>

            <div class="contacts__contact-links">
              <SocialLink href={'#'} iconId="#phone" text="+7-908-177-50-00" />
              <SocialLink href={'#'} iconId="#email" text="metalltreiding-info@mail.ru" />
              <SocialLink href={'#'} iconId="#whatsapp" text="+7-908-177-50-00" />
            </div>
          </div>
        </div>

        <div class="contacts__form-side">
          <CallbackForm client:only />
        </div>
      </div>
    </div>
  </section>

  <Scroller
			pages={[
				{
					title: "Главная",
					href: "/",
					image: "/images/main-page-og.png",
				},
				{
					title: "Услуги",
					href: "/about",
					image: "/images/main-page-og.png",
				},
				{
					title: "Контакты",
					href: "/contacts",
					image: "/images/main-page-og.png",
				},
			]}
			client:load
		/>
</Layout>
