@use "sass:map";

.scroller {
    @include flexbox(column);
    width: 100vw;
    height: auto;
    z-index: 11;

    .scroller-overlay {
        @include flexbox(column);
        @include full-parent;
        gap: 5vh;
        padding: 5vh 14vw;
        box-sizing: border-box;
        background-color: #8d8d8d2c;
        backdrop-filter: blur(12px);
        border-radius: 50px 50px 0 0;

        .scroller-overlay__title {
            @include wadik-text(center);
            width: 100%;
            font-size: calc(0.75 * (1vh + 1vw));
            color: $secondary-font-color;
            opacity: 0;
            transform: translateY(20px);
            transition: none;
        }

        .scroller-overlay__grid {
            @include flexbox(row);
            justify-content: space-between;
            @include full-parent;
            gap: 1.5rem;

            @media (max-width: map.get($breakpoints, small-desktop)) {
                justify-content: center;
            }

            .scroller-overlay__item {
                @include no-def-styles;
                @include flexbox(column);
                width: calc(10 * (1vh + 1vw));
                height: calc(10 * (1vh + 1vw));
                gap: 1rem;
                will-change: filter;
                transition: filter 0.5s ease;

                &:hover {
                    .image-wrapper {
                        img {
                            scale: 1.1;
                            filter: grayscale(0);
                        }
                    }
                }

                &:first-child {
                    &::before {
                        content: "Далее";
                        z-index: 12;
                        position: absolute;
                        @include roboto-text(center);
                        font-weight: 700;
                        background-color: #00000057;
                        padding: 5px;
                        text-transform: uppercase;
                        text-shadow: $text-shadow;
                    }
                }

                .image-wrapper {
                    @include full-parent;
                    border-radius: 25px;
                    border: $primary-border;
                    box-shadow: $inset-shadow;
                    overflow: hidden;

                    img {
                        @include full-parent;
                        will-change: scale;
                        scale: 1;
                        object-fit: cover;
                        transition: scale 0.75s ease;
                        filter: grayscale(1);
                    }
                }

                span {
                    @include roboto-text(center);
                    width: 100%;
                    font-size: calc(0.75 * (1vh + 1vw));
                    color: $secondary-font-color;
                    text-transform: uppercase;
                }

                @media (max-width: map.get($breakpoints, small-desktop)) {
                    display: none;

                    &:first-child {
                        display: flex;
                    }
                }
            }
        }
    }
}