@use '@/styles/Elements.scss' as c;
@use '@/styles/Variables.scss' as v;
@use '@/styles/Global.scss' as *;

.data-list {
    position: relative;
    height: 700px;
    left: 50%;
    transform: translateX(-50%);
    width: 75vw;
    background-color: rgba(#F5FFEE, .7);
    border-radius: 20px;
    padding: 2rem;
    color: #fff;
    font-size: 1.2rem;
    overflow-y: scroll;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        padding-bottom: 2rem;
        gap: 3rem;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-weight: 600;
        text-shadow: c.$shadow-text-l;

        list-style: none;
    }

    &__header-text {
        align-self: start;
        font-weight: 900;
        text-shadow: c.$shadow-text-l;
    }
}

@each $breakpoint, $value in $breakpoints {
    @media (max-width: $value) {
        .data-list {
            @if $breakpoint ==small-desktop {
                overflow-y: auto;
                width: 76vw;

                &__list {
                    overflow-y: initial;
                }
            }

            @if $breakpoint ==phone {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 75vw;
                background-color: rgba(238, 238, 238, .7);
                border-radius: 20px;
                overflow-y: auto;
                scrollbar-width: none;
                padding: 2rem;
                color: #fff;
                box-sizing: border-box;

                &__list {
                    display: grid;
                    grid-template-columns: repeat(4, auto);
                    padding-bottom: 2rem;
                    align-items: center;
                    justify-content: flex-start;
                    text-align: center;
                    list-style: none;
                    overflow-y: initial;
                    overflow-x: auto;
                }
            }
        }
    }
}