@use '@/styles/Elements.scss' as c;
@use '@/styles/Variables.scss' as v;
@use '@/styles/Global.scss' as *;

.data-list {
    height: 700px;
    padding: 2rem;
    overflow-y: auto;

    font-weight: 600;
    text-shadow: c.$shadow-text-l;
    background-color: rgba(#F5FFEE, .7);
    color: #fff;
    border-radius: 20px;
    font-size: 1.2rem;

    list-style: none;

    &__header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2.5rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__header-text {
        align-self: center;
        font-weight: 900;
        text-shadow: c.$shadow-text-l;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__waste-link {
        text-decoration: none;
        color: #fff;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2.5rem;
        justify-items: center;
        align-items: center;

        padding: 1.5rem;
        border-radius: 10px;

        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: rgba(#eee, .6);
        }
    }
}

@each $breakpoint, $value in $breakpoints {
    @media (max-width: $value) {
        .data-list {
            @if $breakpoint ==small-desktop {
                overflow: auto;

                &__header {
                    grid-template-columns: repeat(4, 170px);
                }

                &__row {
                    grid-template-columns: repeat(4, 165px);
                }

                &__waste-link {
                    display: block;
                    width: calc((4 * 170px) + (3rem * 3));
                }
            }
        }
    }
}