@use '@/styles/Elements.scss' as c;

.data-list {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75vw;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.2);
    border-radius: 20px;
    overflow-y: auto;
    padding: 2rem;
    color: #fff;
    font-size: 1.2rem;

    box-sizing: border-box;

    &__list {
        height: 280px;
        display: grid;
        grid-template-columns: repeat(4, auto);
        padding-bottom: 2rem;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        text-align: center;

        list-style: none;
        overflow-y: scroll;
    }

    &__header-text {
        align-self: start;
        font-weight: 900;
        box-shadow: c.$shadow-low;
    }
}