@use '@/styles/Elements.scss' as c;
@use '@/styles/Variables.scss' as *;

.callback-form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__types {
        margin: 0 auto;
        display: flex;
        gap: 2.5rem;

        .callback-type-button {
            outline: none;
            border: none;
            background-color: transparent;
            color: gray;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: .3s;
        }
    }

    &__contact-method {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 1.2rem;
        color: #fff;

        .methods-list {
            border-radius: 10px;
            width: 100%;
        }
    }

    &__waste-input {
        padding-right: 3rem;
    }

    &__waste-input:disabled {
        color: #d4d4d4;
    }

    &__submit {
        font-size: 1.7rem;
    }

    &__waste-container {
        position: relative;

        .waste-clear-icon {
            position: absolute;
            left: 98%;
            top: 50%;
            transform: translate(-95%, -50%);

            cursor: pointer;

            svg path {
                transition: .3s;
            }

            &:hover {
                svg path {
                    stroke: #fff;
                }
            }
        }
    }

    input {
        border-radius: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .active-type {
        color: #fff;
        font-size: 1.7rem;
    }

    .error-input {
        outline: 2px solid rgb(169, 38, 38);

        &::placeholder {
            color: rgb(169, 38, 38);
        }
    }

    .error-select {
        outline: 2px solid rgb(169, 38, 38);
    }
}

@each $breakpoint, $value in $breakpoints {
    @media (max-width: $value) {
        .callback-form {
            @if $breakpoint ==small-desktop {
                &__types {
                    .callback-type-button {
                        font-size: 1.3rem;
                    }

                    .active-type {
                        font-size: 1.5rem;
                    }
                }

                &__submit {
                    font-size: 1.3rem;
                }

            }

            @if $breakpoint ==phone {
                &__types {
                    .callback-type-button {
                        font-size: 1.2rem;
                    }

                    .active-type {
                        font-size: 1.3rem;
                    }
                }

                &__submit {
                    font-size: .8rem;
                    padding: 10px;
                }
            }
        }

    }

}