@use "@/styles/Common.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.globe-wrapper {
    position: relative;
    width: calc(23vw + 23vh);
    height: calc(22vw + 22vh);
    filter: sepia(1);
    overflow: hidden;

    &__overlay {
        @include absolute-fw();
        opacity: 0;
        visibility: hidden;
        pointer-events: stroke;
        transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    }

    &__block {
        position: absolute;
        @include rubik-font(500);
        font-size: calc(0.6 * (1vw + 1vh));
        color: #cac9c9;
        backdrop-filter: blur(12px);
        padding: 10px 15px;
        @include classic-borders();
        border-color: #e4e4e462;
        opacity: 0;
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;

        &--top-left {
            top: 0%;
            left: 0%;
        }

        &--bottom-right {
            bottom: 0%;
            right: 0%;
        }
    }
}