@use '@/styles/Common.scss' as *;
@use '@/styles/Variables.scss' as *;

@mixin C-title($text-align: left, $color: white) {
    @include wadik-text($text-align);
    line-height: calc(4 * var(--index));
    width: calc(1.5rem * 33);
    margin: 0;
    text-shadow: $text-shadow;
}

$shadow-low: 0, 0, 0, rgba(0, 0, 0, .5);
$shadow-text-l: 0px 0px 4px rgba(0, 0, 0, 0.6235294118);

.C-text {
    color: #fff;
    font-size: 1.5rem;
}

.C-input {
    @include rubik-font(500);
    padding: 24px;
    border: none;
    outline: none;
    font-size: 1.35rem;
}

.C-link {
    @include roboto-text();
    text-shadow: $shadow-text-l;
    text-decoration: none;
    color: #fff;
    font-size: 1.35rem;
    transition: .3s;

    &:hover {
        color: rgb(95, 95, 248);
    }

    //
}

.C-layout {
    width: 100%;
    height: 100vh;
    padding: 0 8vw;
    @include flexbox($direction: row);
    box-sizing: border-box;
}

.C-icon {
    width: 48px;
    height: 48px;
    fill: currentColor;
    vertical-align: middle;
}

.C-button {
    @include no-def-styles();
    @include classic-borders();
    @include button-kit();
    border-color: #e4e4e462;
    width: fit-content;

    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(var(--index) * .1);
}

@each $breakpoint, $value in $breakpoints {
    @media (max-width: $value) {
        .C-input {
            @if $breakpoint ==small-desktop {
                padding: 15px;
            }

            @if $breakpoint ==phone {
                padding: 12px;
                padding-left: 10px;
            }
        }

        .C-icon {
            @if $breakpoint ==small-desktop {
                width: 30px;
                height: 30px;
            }

            @if $breakpoint ==phone {
                width: 20px;
                height: 20px;
            }
        }

        .C-text {

            @if $breakpoint ==phone {
                font-size: 1.3rem;
            }
        }
    }
}