@use "@/styles/Common.scss" as *;


.logo {
    @include flexbox(row);
    width: 100%;
    gap: 1rem;
    justify-content: flex-start;

    &__icon {
        width: 4rem;
        height: 4rem;
    }

    &__text {
        font-size: 2rem;
        font-weight: bold;
        color: #ffffff83;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
    }
}
