@use "@/styles/Common.scss" as *;


.logo {
    @include flexbox(row);
    width: 100%;
    gap: 1rem;
    justify-content: flex-start;

    &__icon {
        width: 60px;
        height: 60px;
    }

    &__text {
        font-size: calc(0.6 * (1.5vw + 1vh));
        font-weight: bold;
        color: #ffffff83;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
    }
}
