@use "@/styles/Common.scss" as *;

.hero {
    @include flexbox(row);
    @include no-padding();
    width: 100%;
    height: 100vh;
    position: relative;

    &__background {
        @include absolute-fw();
        z-index: -1;
        object-fit: cover;
        background-color: black;
    }

    &__showcase {
        @include flexbox(column);
        @include full-parent();
    }

    &__content {
        @include flexbox(column);
        right: 10vw;
        align-items: flex-start;
        gap: 2rem;
        text-align: left;
        max-width: 35vw;

        .logo {
            left: 0;
        }
    }

    &__title {
        @include no-padding();
        @include text-header(6rem, left, 500);
        @include rubik-font(500);
        line-height: 5.5rem;
        width: fit-content;
        color: white;
    }

    &__nav {
        @include flexbox(row);
        gap: 3rem;
    }

    &__nav-link {
        @include no-def-styles();
        @include no-padding();
        @include flexbox(row);
        gap: 5px;
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(236, 231, 231);
        transition: color 0.3s ease;

        &:hover {
            color: #ffffff;
        }
    }
}
