@use "@/styles/Common.scss" as *;

.hero {
    @include flexbox(row);
    @include no-padding();
    justify-content: space-between;
    padding: 0 14vw;
    width: 100vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;

    &__background {
        @include absolute-fw();
        z-index: -1;
        object-fit: cover;

        &.static {
            z-index: -2;
        }
    }

    &__showcase {
        @include flexbox(column);
        opacity: 0;
    }

    &__content {
        @include flexbox(column);
        align-items: flex-start;
        gap: calc(1.5vw);
        text-align: left;
        max-width: 40vw;
        opacity: 0;

        .logo {
            left: 0;
        }
    }

    &__title {
        @include no-padding();
        @include text-header(calc(2 *(1.5vw + 1vh)), left, 500);
        @include rubik-font(500);
        line-height: calc(2.2 *(1.5vw + 1vh));
        width: fit-content;
        color: white;
    }

    &__nav {
        @include flexbox(row);
        gap: 3rem;
    }

    &__nav-link {
        @include no-def-styles();
        @include no-padding();
        @include flexbox(row);
        gap: 5px;
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(236, 231, 231);
        transition: color 0.3s ease;

        &:hover {
            color: #ffffff;
        }
    }
}
