@use "@/styles/Common.scss" as *;
@use "sass:map";

.hero {
    @include flexbox(row);
    @include no-padding();
    justify-content: space-between;
    padding: 0 14vw;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;

    &__background {
        @include absolute-fw();
        z-index: -1;
        object-fit: cover;

        &.static {
            z-index: -2;
        }
    }

    &__showcase {
        @include flexbox(column);
        position: absolute;
        bottom: calc(-10 * (1vh + 1vw));
        right: -15vw;

        opacity: 0;
    }

    &__content {
        @include flexbox(column);
        @include no-padding;
        align-items: flex-start;
        gap: calc(1.5vw + 0.5vh);
        text-align: left;
        max-width: 40vw;
        opacity: 0;
        z-index: 2;

        .logo {
            left: 0;
        }

        @media (max-width: map.get($breakpoints, small-desktop)) {
            max-width: unset;
            width: 100%;
            gap: 2.5vh;
            justify-content: flex-start;
            height: 100%;
            padding-top: 20vh;
        }
    }

    &__title {
        @include wadik-text(left);
        @include no-padding();
        line-height: calc(2.25 * (1vw + 1vh));
        width: fit-content;
        text-shadow: $text-shadow;
        color: $primary-font-color;
    }

    &__subtitle {
        @include roboto-text(left);
        line-height: 1.5rem;
        color: $secondary-font-color;
        text-shadow: $text-shadow;
        width: 80%;

        @media (max-width: map.get($breakpoints, small-desktop)) {
            width: 100%;
        }
    }

    &__nav {
        @include flexbox(row);
        gap: 3rem;
    }

    &__nav-link {
        @include no-def-styles();
        @include no-padding();
        @include flexbox(row);
        gap: 5px;
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(236, 231, 231);
        transition: color 0.3s ease;

        &:hover {
            color: #ffffff;
        }
    }
}