---
import Layout from "../layouts/Layout.astro";
import MainButton from "../components/main_button/MainButton";
import "./_index.scss";
import Logo from "../components/logo/Logo";
import GlobeWrapper from "../components/globe-icon/GlobeWrapper";
import Scroller from "../components/scroller/Scroller";
import AnimationWrapper from "./_animation";
import Background from "../components/wave_background/Background";
---

<Layout>
	<section class="hero">
		<img
			class="hero__background static"
			src="/backgrounds/hero-background.svg"
			alt=""
			transition:persist
		/>
		<img
			class="hero__background"
			src="/backgrounds/hero-overlay.svg"
			alt=""
			transition:persist
		/>
		<article class="hero__content">
			<Logo client:visible transition:persist />
			<h1 class="hero__title">Комплексная утилизация отходов</h1>
			<p class="hero__subtitle">
				Мы — экологическая компания полного цикла, охватывающая все
				этапы управления отходами: от их сбора и вывоза до глубокой
				переработки, реализации вторичных материальных ресурсов и
				захоронения неутильных компонентов.
			</p>
			<MainButton client:load text="УТИЛИЗАЦИЯ ОТХОДОВ" href="/about" />
		</article>
		<div class="hero__showcase">
			<GlobeWrapper client:load />
		</div>
		<Scroller
			pages={[
				{
					title: "Главная",
					href: "/",
					image: "/images/main-page-og.png",
				},
				{
					title: "Услуги",
					href: "/about",
					image: "/images/main-page-og.png",
				},
				{
					title: "Контакты",
					href: "/contacts",
					image: "/images/main-page-og.png",
				},
			]}
			client:idle
		/>

		<AnimationWrapper client:load />
	</section>
</Layout>

{
	/*<nav class="hero__nav">
				<a href="/advantages" class="hero__nav-link">
					Наши преимущества
				</a>
				<a href="/contact" class="hero__nav-link">
					Связаться с нами
				</a>
			</nav>*/
}
