@use '@/styles/Elements.scss' as c;
@use '@/styles/Global.scss' as *;

.search {
    padding: 8px;
    padding-inline: 5.5rem;
    background-color: rgba(#F5FFEE, .5);
    border-radius: 25px;
    position: relative;

    display: flex;
    align-items: center;
    gap: 1rem;

    &__input {
        width: 100%;
    }

    &__icon {
        position: absolute;
        left: calc(5rem / 1.8);
        transform: translateX(calc(-2rem))
    }
}

@each $breakpoint, $value in $breakpoints {
    @media (max-width: $value) {
        .search {
            @if $breakpoint ==small-desktop {
                padding: 6px;
                padding-inline: 5rem;
                background-color: rgba(#F5FFEE, .7);
                border-radius: 25px;
                position: relative;

                display: flex;
                align-items: center;
                gap: 1rem;
            }

            @if $breakpoint ==phone {
                padding: 4px;
                padding-inline: 3rem;
                background-color: rgba(#F5FFEE, .7);
                border-radius: 25px;
                position: relative;

                display: flex;
                align-items: center;
                gap: 1rem;
            }

            &__icon {
                @if $breakpoint ==small-desktop {
                    height: 35px;
                    position: absolute;
                    left: calc(5rem / 2);
                    transform: translateX(calc(-2rem))
                }

                @if $breakpoint ==phone {
                    width: 20px;
                    height: 20px;
                }
            }
        }


    }
}