.header {
    @include flexbox(column);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 0 12vw;
    z-index: 100;
    box-sizing: border-box;

    &__nav {
        backdrop-filter: blur(6px);
        background-color: $overlay-color;
        border-radius: 25px;
        padding: 0 2vw;
        @include flexbox(row);
        @include full-parent;
        justify-content: space-between;
    }
  
    &__link {
        @include roboto-text(center);
        font-size: 1.25rem;
    }

    .main-button {
        font-size: 1.25rem;
        padding: 10px 15px;
    }
  }
  