---
import "./Slider.scss";
import slide1 from "@/assets/about-images/slider/image1.png";
import slide2 from "@/assets/about-images/slider/image2.png";
import slide3 from "@/assets/about-images/slider/image3.png";
import TiltSliderScript from "./SliderAnimation";
---

<div class="slider">
    <div class="slide__bg" data-current></div>

    <button class="slider--zone slider--zone__left slider--btn__prev"></button>

    <div class="slides__wrapper">
        <div class="slides">
            <!-- slide 1 -->
            <div class="slide" data-current>
                <div class="slide__inner">
                    <div class="slide--image__wrapper">
                        <img
                            class="slide--image"
                            src={slide1.src}
                            alt="Image 1"
                        />
                    </div>
                </div>
            </div>

            <!-- slide 2 -->
            <div class="slide" data-next>
                <div class="slide__inner">
                    <div class="slide--image__wrapper">
                        <img
                            class="slide--image"
                            src={slide2.src}
                            alt="Image 2"
                        />
                    </div>
                </div>
            </div>
            <div
                class="slide__bg"
                style="--bg: url(https://devloop01.github.io/voyage-slider/images/machu-pichu.jpg); --dir: 1"
                data-next
            >
            </div>

            <!-- slide 3 -->
            <div class="slide" data-previous>
                <div class="slide__inner">
                    <div class="slide--image__wrapper">
                        <img
                            class="slide--image"
                            src={slide3.src}
                            alt="Image 3"
                        />
                    </div>
                </div>
            </div>
            <div
                class="slide__bg"
                style="--bg: url(https://devloop01.github.io/voyage-slider/images/chamonix.jpg); --dir: -1"
                data-previous
            >
            </div>
        </div>
        <div class="slides--infos">
            <!-- Slide Info 1 -->
            <div class="slide-info" data-current>
                <div class="slide-info__inner">
                    <div class="slide-info--text__wrapper">
                        <div data-title class="slide-info--text">
                            <span>Хранение</span>
                        </div>
                        <div data-subtitle class="slide-info--text">
                            <span>отходов</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide Info 2 -->
            <div class="slide-info" data-next>
                <div class="slide-info__inner">
                    <div class="slide-info--text__wrapper">
                        <div data-title class="slide-info--text">
                            <span>Перевозка</span>
                        </div>
                        <div data-subtitle class="slide-info--text">
                            <span>по России</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide Info 3 -->
            <div class="slide-info" data-previous>
                <div class="slide-info__inner">
                    <div class="slide-info--text__wrapper">
                        <div data-title class="slide-info--text">
                            <span>Утилизация</span>
                        </div>
                        <div data-subtitle class="slide-info--text">
                            <span>I - V классов отходов</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="slider--zone slider--zone__right slider--btn__next"></button>
</div>

<TiltSliderScript client:load />
