@use '@/styles/Elements.scss' as c;
@use '@/styles/Common.scss' as *;

.search-wastes-layout {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    background-image: url('/backgrounds/search-background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-container {
    @include flexbox($direction: row);
    justify-content: flex-end;
    margin-bottom: 7rem;
}

.search-wastes {
    width: 70%;
    padding: 8rem 0 5rem 0;

    .search-title {
        @include c.C-title($text-align: right);
    }

    .search-info {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        &__links {
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}