---
import Layout from '../../layouts/Layout.astro';
import FilteredData from '../../components/filtered-data/FilteredData';

//Стили
import './_index.scss';
import AnimationWrapper from './_animation';
import Scroller from '@/components/scroller/Scroller';
---

<Layout>
  <section class="search-wastes-layout">
    <div class="search-wastes">
      <div class="title-container">
        <h2 class="search-title">Выберите нужный тип отходов</h2>
      </div>

      <div class="search-info">
        <div class="search-info__links">
          <a href="/contacts" class="call-us-link C-link">Связаться с нами</a>
          <a href="/docs/license.pdf" target="_blank" class="license-link C-link"
            >Просмотреть лицензию</a
          >
        </div>

        <FilteredData client:only />
      </div>
    </div>
  </section>

  <Scroller
    pages={[
      {
        title: 'Главная',
        href: '/',
        image: '/images/main-page-og.png',
      },
      {
        title: 'Услуги',
        href: '/about',
        image: '/images/main-page-og.png',
      },
      {
        title: 'Контакты',
        href: '/contacts',
        image: '/images/main-page-og.png',
      },
    ]}
    client:load
  />

  <AnimationWrapper client:only/>
</Layout>
