@use "sass:map";

.about {
    &__grass {
        @include flexbox(column);
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 25px;
            filter: contrast(1.2)
        }

        .inside {
            position: absolute;
            display: flex;
            width: 15rem;
            height: 15rem;
            overflow: visible;
            box-shadow: none;
            will-change: scale;
            transition: scale 0.25s ease;
            object-fit: fill;

            &:hover {
                scale: 1.05;
            }

            &--clients {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__advantages,
    &__clients {
        @include flexbox(column);
        justify-content: space-between;
        width: 32rem;
        height: auto;
        gap: 2rem;
        box-sizing: border-box;

        @media (max-width: map.get($breakpoints, phone)) {
            @include flexbox(column);
            gap: 5px;
            padding: 0 14vw;
        }
    }

    &__advantages {
        justify-content: space-around;
        width: 32rem;
        height: 100vh;
        padding: 0;
    }

    &__clients {
        @media (max-width: map.get($breakpoints, small-desktop)) {
            display: grid !important;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__clients {
        overflow: hidden;
        height: 100vh;
        position: relative;
      
        @media (max-width: map.get($breakpoints, phone)) {
          height: auto;
          overflow: visible;
        }
      
        .slider-track {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
      
}