@use "sass:map";

.about {
    &__grass {
        @include flexbox(column);
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 25px;
            box-shadow: $inset-shadow;
            filter: contrast(1.2)
        }

        .inside {
            position: absolute;
            display: flex;
            width: 10rem;
            height: 10rem;
            overflow: visible;
            box-shadow: none;
            will-change: scale;
            transition: scale 0.25s ease;

            &:hover {
                scale: 1.05;
            }

            &--clients {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__advantages,
    &__clients {
        @include flexbox(row);
        justify-content: space-between;
        border-radius: 25px;
        width: 100%;
        height: auto;
        gap: 2rem;

        @media (max-width: map.get($breakpoints, phone)) {
            @include flexbox(column);
            gap: 5px;
            padding: 0 14vw;
        }
    }

    &__clients {
        @media (max-width: map.get($breakpoints, small-desktop)) {
            display: grid !important;
            grid-template-columns: 1fr 1fr;
        }
    }
}