---
import GrassTexture from "./Block";
import fts from "@/assets/icons/about/clients/fts.svg";
import mmtp from "@/assets/icons/about/clients/mmtp.svg";
import pind from "@/assets/icons/about/clients/p-ind.svg";
import tec from "@/assets/icons/about/clients/tec.svg";
import "./AboutComponents.scss";
import ClientsSlider from "./AnimateClients";
---

<section class="about__clients">
    <ClientsSlider client:only/>
</section>
