@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.main-button {
    @include flexbox(row);
    @include no-def-styles();
    @include classic-borders();
    border-color: #e4e4e462;
    width: fit-content;
    @include button-kit();

    &__text {
        @include roboto-text(center);
        z-index: 2;
        position: relative;
        text-transform: uppercase;    
    }

    &__bg {
        @include absolute-fw();
        background: center/cover no-repeat;
        transform: translateX(-80%);
        z-index: 1;
        opacity: 0.5;
    }
}